/* Establece la fuente principal para toda la aplicación, usando la fuente 'Inter' importada en el HTML. */
body {
    font-family: 'Inter', sans-serif;
}

/* Define los estilos para la pestaña de navegación que se encuentra activa. */
.tab-active {
    border-bottom-color: #3b82f6; /* Le da un color azul al borde inferior. */
    color: #3b82f6;             /* Pone el texto de la pestaña en el mismo color azul. */
    font-weight: 600;           /* Hace que el texto sea más grueso (semi-bold). */
}
